## Server side
# Gradle repository
/server/.gradle/

# Build directory
/server/build/

# Classes
*.class

# Archives
*.jar
*.war

/bin/
/.project
/.classpath
/.settings/

# gradle config
gradle.properties

## Client side
# Node modules
/client/node_modules/

