## Server side
# Gradle repository
/server/.gradle/

# Build directory
/server/build/

# Classes
*.class

# Archives
*.jar
*.war

/server/bin/
/server/.project
/server/.classpath
/server/.settings/

# gradle config
gradle.properties

## Client side
# Node modules
/client/node_modules/
# Bower components
/client/bower_components/
